html {
    background-color: #FFFFFF;
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -o-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -moz-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: -ms-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 1024px;
    font-family: "Arial", Arial, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #5C5C5B;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h2, h3, h4, h5, h6 {
    color: #5C5C5B;
    font-weight: 400;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

footer {
    font-weight: 100;
    font-size: 10px;
    text-align: right;
    vertical-align: bottom;
    font: "Arial";
    color: #5C5C5B;
    background-color: transparent;
}

p {
}
.note {
    font-size: 10px;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: #1F407A;
}

b, strong {
    font-weight: 600;
}

samp {
    /* hide tutorial instructions so they don't show in the browser */
    display: none;
}

img {
    background: transparent;
    border-style: none;
    <!--
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    -->
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}


 #navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: left; 
	background-color: transparent; 
	} 
 
#navbar ul li {  
	display: inline; 
    vertical-align: bottom;
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #5C5C5B;
	background-color: transparent; 
    vertical-align: bottom;
	} 

#navbar ul li a:hover { 
	color: #1F407A; 
	background-color: transparent; 
    vertical-align: bottom;
	} 

.bg
{
  width: 100%;
  z-index: 0;
}

table,th,td,a
{
    border:1px transparent;
    border-spacing:10px;
    text-align: left;
    text-decoration: none;
    vertical-align: top;
    background-color: transparent;
    color: #5C5C5B;
    font: "Arial";
    font-weight: 100;
}

table a:hover
{
    text-decoration: underline;
}

.right{
    float:right;
}

.left{
    float:left;
}


.collapsible, .slide-toggle {
    color: #5C5C5B;
    font-weight: 400;
    line-height: 1.3em;
    background-color: #FFFFFF;
    cursor: pointer;
    width: none;
    border: none;
    text-align: left;
    outline: none;
    font-family: "Arial", Arial, Arial, sans-serif;
    font-size: 20px;
}

.collapsible:hover, .slide-toggle:hover {
    background-color: #FFFFFF;
    color: #1F407A;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #FFFFFF;
  width: 400px;
}

.box{
    float:left;
    overflow: hidden;
    background: #FFFFFF;
    display: none;
}
/* Add padding and border to inner content
for better animation effect */
.box-inner{
    width: 1024px;
    padding: 10px;
    border: none;
}
